#login_total{
    background:url(./register_bg.jpeg) center no-repeat fixed;
    background-size: 100% 100%;
    text-align: center;
}
.login_hole{
 margin-left: 30%;
    margin-top: 6%;
    height: 300px;
    width: 600px;
    /* margin-left: auto;
    margin-right: auto; */
    background-color: rgb(234, 234, 234);
}
.login_left{
    background: -webkit-linear-gradient(rgb(131, 131, 241),rgb(8, 8, 236));
    float: left;
    width: 150px;
    height: 300px;

    }
    .select_role{
        padding-left: 40px;
        text-align: left;
        width: 400px;
        height: 20px;
    }
    .login_left p{
        line-height: 15px;
        font-size: 30px;
        text-align: center;
        color:rgb(23, 23, 23);
    }
    .ordinary_user{
        margin-right: 20px;
        height: 20px;
        width: 120px;
        padding-left: 40px;
        text-align: left;
        float: right;
    }
    .browser{
        float: right;
    }
.login_right{
    float: left;
    width: 442px;
    height: 300px;
    }
    .user{
        width: 440px;
        height: 110px;
        border-style: solid;
        border-width: 2px;
    }
    .user_name{
        border-style: solid;
        border-width: 2px;
        margin-left: 20px;
        padding-top: 20px;
        width: 400px;
        height: 36px;
    }
    input[type="text"] {
        /*background-color: rgb(250, 255, 189);*/
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.15);
        padding-left: 1em;
        width: 23em;
        height: 2.8em;
        margin-bottom: 1.2em;
        border-radius: 6px;
    }
    .login_right input:focus{
        border-style: solid;
        border-color: #03a9f4;
        box-shadow: 0 0 6px #03a9f4;
    }

    .login_right button{
        height: 35px;
        width: 73px;
    }
  .login {
      color: #dddddd;
      margin-left: 40px;
      margin-right: 50px;
      font-size: 20px;
        background-color: rgb(0, 181, 222);
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-align: center;
        background-clip: padding-box;
        border-radius: 6xp;
    }
    .forget{
     display:inline-block;
        margin-top: 20px;
        margin-right: 235px;
    }
